<!-- About Section -->
    <section id="bio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bio</h2>
                    <h3 class="section-subheading text-muted">A brief history of me.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 1989</h4>
                                    <h4 class="subheading">Hello World!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born on December, 4th 1989 in Karl-Marx-Stadt (now Chemnitz) in the former GDR. I grew up as the eldest son of three children in a teacher family.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1999-2010</h4>
                                    <h4 class="subheading">First Steps - Excel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my late school time and all through my university, I developed a Microsoft Excel based analytics tool for daily group work in classes given by my father. This was my first and a very valueable experience in creating, extending and maintaining a software used in daily work.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002-2011</h4>
                                    <h4 class="subheading">Education is paramount - Dipl.-Inf.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I decided to get a university degree in computer science at the Technische Universität Dresden and used that time to dive into a broad sprectrum of computer science and related topics. I finish my in November 2011 with a Diploma in Computer Science (Informatik). Out of courisity I took Psycholgy and Business English as minors, courses of which I benefit until today.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/steg_logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2012</h4>
                                    <h4 class="subheading">The first project - Projekt StEG</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Serendipitously, a friend of mine and I got the opportunity to develop a platform used for giving feedback to participants of a research study for the German Institute for International Educational Research (DIPF). We created, extended and maintained the platform in three phases and successfully delivered all the features needed.<br /> 
                                    Without knowing we already used so to say agile methods to test different approaches. Already then, I decided to do customer communication and negotiations.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2015</h4>
                                    <h4 class="subheading">Kiwigrid - The Early Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted"> 
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Kiwigrid - The Later Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2017</h4>
                                    <h4 class="subheading">DevBoost - Something new</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>