<!-- About Section -->
    <section id="bio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bio</h2>
                    <h3 class="section-subheading text-muted">A brief history of me.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/karl-marx-stadt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 1981</h4>
                                    <h4 class="subheading">Hello World!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born on December, 4th 1981 in Karl-Marx-Stadt (now Chemnitz) in the former GDR. I grew up as the eldest son of three children in a teacher family.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/excel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1999-2010</h4>
                                    <h4 class="subheading">First Steps - Excel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my late school time and all through my university, I developed a Microsoft Excel based analytics tool for daily group work in classes given by my father. This was my first and a very valuable experience in creating, extending and maintaining a software used in daily work.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tud-inf.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002-2011</h4>
                                    <h4 class="subheading">Education is paramount - Dipl.-Inf.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I decided to get a university degree in computer science at the Technische Universität Dresden and used that time to dive into the broad spectrum of computer science and related topics. Out of curiosity I took Psychology and Business English as minors, courses of which I benefit until today. I finish my studies in November 2011 with a Diploma in Computer Science (Informatik). </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/steg_logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2012</h4>
                                    <h4 class="subheading">The first project - Projekt StEG</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Serendipitously, a friend of mine and I got the opportunity to develop a PHP based platform used for giving feedback to participants of a research study for the German Institute for International Educational Research (DIPF). We created, extended and maintained the platform in three phases and successfully delivered all the features needed.<br /> 
                                    Without knowing we already used so to say agile methods to test different approaches. Already then, I felt comfortable to do customer communication and negotiations.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kiwi.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2015</h4>
                                    <h4 class="subheading">Kiwigrid - The Early Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started at Kiwigrid as a PHP backend developer. Soon I gained more and more responsibility in this young start-up. I quickly rose to the role of team lead and software architect. The first really customer driven project at Kiwigrid was a Home Energy Management Solution for SOLARWATT. It was technically lead by myself and consisted most of the time of a team of four developers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted"> 
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kiwigrid.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Kiwigrid - The Later Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 2015 Kiwigrid won a project focused on intelligent charging of electric vehicles by BMW. I lead the team in the role of the Product Owner and part time ScrumMaster. The solution was delivered in time and budget and stands out in my experience as large-scale product development embedded in a large co-operation.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/devboost.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>07/2017-11/2017</h4>
                                    <h4 class="subheading">DevBoost - Something New</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In July 2017 I joined DevBoost as a Product Manager to build a mobile ticketing platform for general entrance tickets like zoos, museeums or amusement parks. It was a new and exhilarating idea that I happily helped to shape. This also entailed a lot of sales activity to excite potential partners for the idea to join the ticket marketplace <a href="https://twickly.de">twickly</a>.<br>The endevour is still ongoing and we will see what lies ahead.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kiwigrid-services.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12/2017 - 12/2019</h4>
                                    <h4 class="subheading">Kiwigrid - Recoding Energy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After a couple of exiting months at DevBoost, the world of energy management and renewable energy still wouldn't leave my thoughts. In December 2017 I decided to rejoin Kiwigrid. This decision was only made possible after some important and fundamental changes where implemented at Kiwigrid. I am confident that this new path will lead Kiwigrid to great success.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/staffbase.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>01/2020</h4>
                                    <h4 class="subheading">Staffbase - People First!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Staffbase is the leading mobile employee relationship platform for large or decentralized organizations. As a learned in my previous engagements that communication is key for well running company, I decided to join Staffbase to help companies to put people first. I started as a Senior Project Manager for Onboarding new customers. After only 3 months a already worked in onboarding projects with six or more customers in parallel.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>