{% include css/bootstrap.min.css %}
{% include css/agency.css %}

#skills .row-header {
	padding-top: 50px;
}

#skills .row {
	padding-bottom: 50px;
}

.bg-dark {
	background: #fcfcfc
}

.bg-darker {
	background: #fafafa
}

.list-inline li {
	padding-bottom: 20px
}
